/* Register.css */

.register-container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}
.A_register{
    height: 100vh;
    background-color: white;

}
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-container form {
    text-align: left;
}

.register-container p {
    margin-top: 20px;
}

.register-container .form-group.confirm-password {
    margin-top: 200px; /* Adjust as needed */
}

/* End of Register.css */
